{% extends 'basic.html' %}
{% load static %}
{% block title %} VedantTechBlog {% endblock %}

{% block nav-bottom %}

<div class="nav-bottom">
  <ul>
    <li class="animate-grow nav-active" ><a href="/" onclick="changeActive()" >HOME</a></li>
    <li class="animate-grow"><a href="shop" onclick="changeActive()">SHOP</a></li>
    <li class="animate-grow"><a href="gaming-setup" onclick="changeActive()">GAMING SETUP</a></li>
    <li class="animate-grow"><a href="video" onclick="changeActive()">VIDEOS</a></li>
    <li class="animate-grow"><a href="#" onclick="changeActive()">CONTACT US</a></li>
  </ul>
</div>

{% endblock %}

{% block body %} 

<!-- -----------------slideshow------------------ -->
<div class="slideshow-container">

    <div class="mySlides fade">
      <img src="/media/home/slide1.jpg" style="width:100%; object-fit: cover; height: 600px;">
    </div>
    
    <div class="mySlides fade">
      <img src="/media/home/slide2.jpg" style="width:100%; object-fit: cover;  height: 600px;">
    </div>
    
    <div class="mySlides fade">
      <img src="/media/home/slide3.jpg" style="width:100%;object-fit: cover;  height: 600px;">
    </div>
    <div style="text-align:center;margin-top: -2%;">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
    
</div>
    <!-- --------------Jambo card------------- -->
<div class="jambo-box">
    <div class="jambo-img animate-grow">
      <a href="gaming-setup"><img src="/media/home/jambo1.jpg" style="width:100%;height: 100%;"></a>
    </div>
    <div class="jambo-text-btn">
        <ul>
            <li><a href="gaming-setup" class="animate-grow">GAMING SETUP</a></li>
            <li><button class="jambo-btn animate-grow" onclick="location.href='gaming-setup'" >Visit Page</button></li>
        </ul>
    </div>
</div>
<div class="jambo-box">
  <div class="jambo-img animate-grow">
    <a href="custom-pc-build"><img src="/media/home/jambo2.jpg" style="width:100%;height: 100%;"></a>
  </div>
  <div class="jambo-text-btn">
      <ul>
          <li><a href="custom-pc-build" class="animate-grow">PC BUILD</a></li>
          <li><button class="jambo-btn animate-grow" onclick="location.href='custom-pc-build'">Visit Page</button></li>
      </ul>
  </div>
</div>
<div class="jambo-box">
    <div class="jambo-img animate-grow">
      <a href="racing-simulator"><img src="/media/home/jambo3.jpg" style="width:100%;height: 100%;"></a>
    </div>
    <div class="jambo-text-btn">
        <ul>
            <li><a href="racing-simulator" class="animate-grow">RACING SIM</a></li>
            <li><button class="jambo-btn animate-grow" onclick="location.href='racing-simulator'">Visit Page</button></li>
        </ul>
    </div>
</div>
<div class="jambo-box">
  <div class="jambo-img animate-grow">
    <a href="accessories"><img src="/media/home/jambo4.jpg" style="width:100%;height: 100%;"></a>
  </div>
  <div class="jambo-text-btn">
      <ul>
          <li><a href="accessories" class="animate-grow">ACCESSORIES</a></li>
          <li><button class="jambo-btn animate-grow" onclick="location.href='accessories'">Visit Page</button></li>
      </ul>
  </div>
</div>
  <!-- --------------------Videos sections----------  -->
<div class="video-sec">
  <div class="video-heading ">
    <a href="video" class="animate-grow">VIDEOS</a>
  </div>
  <div class="video-box">
    {% for vids in vid %}
    <div class="video-img animate">
      <ul>
        <li><a href="#"><img src="/media/{{vids.vid_img}}" style="width:100%;height: 100%;"></a></li>
        <li>{{vids.Vid_title}}</li>
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
  <!-- ------------------shopping------------------- -->
<div class="shopping-box">
  <div  class="shopping-shop animate-grow">
    <a href="shop">SKRILL SHOP</a>
  </div>
  <div class="shopping-visit animate-grow">
    <a href="shop"> VISIT PAGE</a>
  </div>
</div>
<div class="shopping-card-box">
  {% for shop in shop_prod %}
  <div class="shopping-card animate">
    <ul>
      <li><a href="#"><img src="/media/{{shop.prod_img}}" style="width:100%;height: 100%;"></a></li>
      <li style="text-overflow: ellipsis; overflow: hidden; height: 6.5%;">{{shop.prod_name}}</li>
      <li style="font-size: 1.1vw; font-weight: 100; color: grey;">{{shop.prod_color}}</li>
      <li style="font-size: 1.3vw; font-weight: 100;">₹{{shop.prod_cost}}</li>
    </ul>
  </div>
  {% endfor %}
</div>
  <!-- --------------------FAQ Section--------------------- -->
<div class="faq-sec">
  <div class="shopping-logo">
    <a href="shop"><img class="shopping-img animate" src="/media/home/ShoppingLogo.jpg" ></a>
  </div>
  <div class="faq">
    <ul>
      <li class="faq-head"><a href="" class="font3 animate-grow">FAQ</a></li>
      <li>
        <div class="faq-que">
          <span>When will i ge my order?</span>
          <i class='fas fa-angle-right' id="rotate" style='font-size:24px'></i>
        </div>
        <div class="faq-ans">
          <div class="font1">It usually takes 3-7 days to fulfil an order, after it's shipped out. The shipping time depends on your location, but can be estimated as follows:</div>
          <ul>
            <li class="font1">USA: 3-4 business days</li>
            <li class="font1">UK: 2-5 business days</li>
            <li class="font1"> Europe: 3-10 business days</li>
            <li class="font1">International: 10-20 business days</li>
          </ul>
        </div>
        
        <div class="faq-que">
          <span>How can i track my package?</span>
          <i class='fas fa-angle-right' id="rotate" style='font-size:24px'></i>
        </div>
        <div class="faq-ans">
          <div class="font1">Every order placed on our store is trackable! When your order ships out, you'll receive an email with an order tracking link. We even offer order tracking via Facebook Messenger! </div>
        </div>
        
        <div class="faq-que">
          <span>How are your product made?</span>
          <i class='fas fa-angle-right' id="rotate" style='font-size:24px'></i>
        </div>
        <div class="faq-ans">
          <div class="font1">We work with a high-quality print-on-demand order fulfilment company that has locations worldwide. All of our T-Shirts (excluding oversized tees) are made in the USA.
          </div>
        </div>
        
        <div class="faq-que">
          <span>Do you offer refunds,returns or exchange?</span>
          <i class='fas fa-angle-right' id="rotate" style='font-size:24px'></i>
        </div>
        <div class="faq-ans">
          <div class="font1">
            At this time, we do not offer returns or exchanges. However, if there is something wrong with your order and you receive the wrong or damaged items. Please email us at support@techblock.co.uk within a weeks' time with photos of the damaged product, your order number, and any other details you may have about your order. We’ll get back to you with a resolution as soon as possible! 
          </div>
          <ul>
            <li class="font1">Refunds are only issued to customers that receive wrong or damaged items.</li>
          </ul>
        </div>

        <div class="faq-que">
          <span>Wher can i find product sizing information?</span>
          <i class='fas fa-angle-right' id="rotate" style='font-size:24px'></i>
        </div>
        <div class="faq-ans">
          <div class="font1">
            Please refer to our sizing guides that can be found in the product description section.
          </div>
        </div>
        
      </li>
    </ul>
  </div>
</div> 

{% endblock %}

{% block afterbody %} 

<div class="delivery-box">
    <div class="delivery-inside-box">
      <ul>
        <li class="font4"> <i class='fa fa-truck' style='font-size:28px;  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);'></i> Fast Delivery</li>
        <li class="font1" style="text-align: center; font-size: 14px; font-weight: bold;">to India,USA & UK</li>
      </ul>
    </div>
    <div class="delivery-inside-box">
      <ul>
        <li class="font4"> <i class='fa fa-check' style='font-size:28px;'></i> Tracked Oders</li>
        <li class="font1" style="text-align: center; font-size: 14px; font-weight: bold;">Easily keep track of your order</li>
      </ul>
    </div>
    <div class="delivery-inside-box">
      <ul>
        <li class="font4"> <i class='fa fa-toggle-on' style='font-size:28px; '></i> Free Shipping</li>
        <li class="font1" style="text-align: center; font-size: 14px; font-weight: bold;">Free worldwide shipping</li>
      </ul>
    </div>
  </div>

{% endblock %}

{% block javascript %} 

<script>
    var slideIndex = 0;
    showSlides();
    
    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 3000); // Change image every 3 seconds
    }

   
</script>

{% endblock %}