{% extends 'basic.html' %}
{% load static %}
{% block title %} VedantTechBlog {% endblock %}

{% block nav-bottom %} 

<div class="nav-bottom">
    <ul>
      <li class="animate-grow"><a href="/"  onclick="changeActive()">HOME</a></li>
      <li class="animate-grow"><a href="shop" onclick="changeActive()">SHOP</a></li>
      <li class="animate-grow nav-active"><a href="gaming-setup" onclick="changeActive()">GAMING SETUP</a></li>
      <li class="animate-grow"><a href="video" onclick="changeActive()">VIDEOS</a></li>
      <li class="animate-grow"><a href="#" onclick="changeActive()">CONTACT US</a></li>
    </ul>
  </div>

{% endblock %}


{% block body %} 

<div class="gaming-head-box">
    <div class="gaming-head animate-grow">
        <a href="gaming-setup">GAMING SETUP</a>
    </div> 
    <div class="gaming-head animate-grow">
        <a href="custom-pc-build">CUSTOM PC BUILD</a>
       
    </div>
    <div class="gaming-head animate-grow">
        <a href="racing-simulator">RACING SIMULATOR</a>
    </div> 
    <div class="gaming-head animate-grow">
        <a href="accessories">ACCESSORIES</a>
    </div>
</div>
<div class="gaming-disclosure">
    FTC DISCLOSURE: We may earn a commission when you use one of our coupons/links to make a purchase.  
</div>
<div class="gaming-section">
    <div class="main-product">
        <div class="main-product-link">
            <ul class="main-product-link-ul">
                <li style="font-weight: 600;">GT OMEGA RACING</li>
                <li style="font-size: 14px;">Get <span style="text-decoration: underline;">5% off</span> by using the link below</li>
                <li class="animate-grow">
                    <a href="https://www.gtomega.com/?rfsn=2934046.83d96d">GT OMEGA RACING WEBSITE</a>
                </li>
                <li class="animate-grow">
                    <a href="https://www.amazon.in/s?k=GT+Omega+Element+Series&tag=techblock07-21">on Amazon(Global)</a>
                </li>
            </ul>
        </div>
        <div class="main-product-image">
            <a class="main-product-chair animate"></a>
        </div>
        <div class="main-product-desc">
            <ul class="main-product-desc-ul">
                <li style="font-weight: 600;font-size: 17px">ELEMENT SERIES</li>
                <li style="font-size: 14px;text-align: center;">Minimalist branding
                    Signature Reinforced PVC Leather with suede wings
                    Super comfy pillow velour pillow set</li>
                <li style="font-size: 15px;text-align: center;"> "Genuinely the best chair GT Omega have made" - Em</li>
            </ul>
        </div>
    </div>
    <div class="main-product">
        <div class="main-product-link">
            <ul class="main-product-link-ul">
                <li style="font-weight: 600;">VIVIFY CABLES</li>
                <li style="font-size: 14px;">Code <span style="text-decoration: underline;">"TechBlock10"</span> for 10% off</li>
                <li class="animate-grow">
                    <a href="https://www.vivify.cc/">Vivify Cables Website</a>
                </li>
                <li class="animate-grow">
                    <a href="https://www.amazon.in/s?k=vivify+arquus+w73+the+world%27s+first+fiber+optics+hdmi+2+0+console+gaming+rgb+light+up+4k+cable+9ft+dpl+hdmi+certified&tag=techblock07-21">on Amazon(Global)</a>
                </li>
            </ul>
        </div>
        <div class="main-product-image">
            <a  class="main-product-cable animate"></a>
        </div>
        <div class="main-product-desc">
            <ul class="main-product-desc-ul">
                <li style="font-weight: 600;font-size: 17px">ARQUUS W73o</li>
                <li style="font-size: 14px;text-align: center;">4K Fiber Optics HDMI 2.0 Cable
                    Supports bandwidths up to 18Gbps</li>
                <li style="font-size: 15px;text-align: center;"> Sync with Razer Chroma
                    It has RGB</li>
            </ul>
        </div>
    </div>
   <div class="normal-products">
        {% for gprod,prod in Gprods %}
            <div class="norm">
                <div class="norm-product-image">
                    <a class="animate"><img src="/media/{{gprod.gprod_img}}" style="width: 100%;,height: 100%;"></a>
                </div>
                <div class="norm-product-link">
                    <ul class="norm-product-link-ul">
                        <li style="font-weight: 600;">{{gprod.gprod_name}}{{forloop.counter}}</li>
                        {% for i in prod %}
                        <li class="animate-grow">
                            <a href="{{i.link}}">{{i.store}}</a>
                        </li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
    {% if forloop.counter|divisibleby:2 and not forloop.last %}
    </div>
    <div class="normal-products">
    {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block afterbody %} 

{% endblock %}
