{% extends 'basic.html' %}
{% load static %}
{% block title %} VedantTechBlog {% endblock %}

{% block body %} 
<div class="shopping-box">
  <div class="shopping-shop" style="width: 100%;">
    WATCH MY VIEDOS
  </div>
</div>

  <!-- --------------------Videos sections----------  -->
  <div class="video-card-box">
    <div class="video-card">
      <ul>
        <li><a href="#"><img src="{% static 'video1.jpg' %}" style="width:100%;height: 100%;"></a></li>
        <li>AMAZING SPEAKER SENT BY LOGITECH</li>
      </ul>
    </div>
    <div class="video-card">
      <ul>
        <li><a href="#"><img src="{% static 'video2.jpg' %}" style="width:100%;height: 100%;"></a></li>
        <li>AMAZING SPEAKER SENT BY LOGITECH</li>
      </ul>
    </div><div class="video-card">
      <ul>
        <li><a href="#"><img src="{% static 'video3.jpg' %}" style="width:100%;height: 100%;"></a></li>
        <li>AMAZING SPEAKER SENT BY LOGITECH</li>
      </ul>
    </div><div class="video-card">
      <ul>
        <li><a href="#"><img src="{% static 'video4.jpg' %}" style="width:100%;height: 100%;"></a></li>
        <li>AMAZING SPEAKER SENT BY LOGITECH</li>
      </ul>
    </div>
  </div>
  <div class="video-card-box">
      <div class="video-card">
        <ul>
            <li><a href="#"><img src="{% static 'video5.jpg' %}" style="width:100%;height: 100%;"></a></li>
            <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div>
      <div class="video-card">
        <ul>
          <li><a href="#"><img src="{% static 'video6.jpg' %}" style="width:100%;height: 100%;"></a></li>
          <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div><div class="video-card">
        <ul>
          <li><a href="#"><img src="{% static 'video7.jpg' %}" style="width:100%;height: 100%;"></a></li>
          <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div><div class="video-card">
        <ul>
          <li><a href="#"><img src="{% static 'video8.jpg' %}" style="width:100%;height: 100%;"></a></li>
          <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div>
    </div><div class="video-card-box">
      <div class="video-card">
        <ul>
          <li><a href="#"><img src="{% static 'video9.jpg' %}" style="width:100%;height: 100%;"></a></li>
          <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div>
      <div class="video-card">
        <ul>
          <li><a href="#"><img src="{% static 'video10.jpg' %}" style="width:100%;height: 100%;"></a></li>
          <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div><div class="video-card">
        <ul>
          <li><a href="#"><img src="{% static 'video11.jpg' %}" style="width:100%;height: 100%;"></a></li>
          <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div><div class="video-card">
        <ul>
          <li><a href="#"><img src="{% static 'video12.jpg' %}" style="width:100%;height: 100%;"></a></li>
          <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div>
    </div><div class="video-card-box">
      <div class="video-card">
        <ul>
          <li><a href="#"><img src="{% static 'video13.jpg' %}" style="width:100%;height: 100%;"></a></li>
          <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div>
      <div class="video-card">
        <ul>
          <li><a href="#"><img src="{% static 'video14.jpg' %}" style="width:100%;height: 100%;"></a></li>
          <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div><div class="video-card">
        <ul>
          <li><a href="#"><img src="{% static 'video15.jpg' %}" style="width:100%;height: 100%;"></a></li>
          <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div><div class="video-card">
        <ul>
          <li><a href="#"><img src="{% static 'video16.jpg' %}" style="width:100%;height: 100%;"></a></li>
          <li>AMAZING SPEAKER SENT BY LOGITECH</li>
        </ul>
      </div>
    </div>
  


{% endblock %}

{% block afterbody %} 
<div style="width: 100%;height: 70px;"></div>
{% endblock %}